 body{
  margin: 0;
  padding: 0;
  background-color: #fafafa;
  min-height: 90vh;
}
  .container{
    background-color: white;
    width: 35%;
    height: auto;
    border-radius: 6px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: flex-start;
    
    /* position: relative;
    top: 100px;
    left:30%; */
    margin-top: 100px;
    margin-left: 30%;
    margin-bottom: 100px;

    padding: 10px 20px;
    /* min-height: 90vh; */

  }
  .zen-kaku {
    font-family: "Zen Kaku Gothic Antique", sans-serif;
  } 
  .signinform{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    width: 100%;
    margin: 0px 10px ;
  }

.signinform label {
    font-weight: bold;
    margin-bottom: 5px; 
}

.signinform input {
    padding: 8px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 90%; 
    margin-bottom: 20px;
}

.signinform textarea {
  padding: 8px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 5px;
  width: 90%; 
  margin-bottom: 20px;
}


.signinform button{
  align-self: center;
  background-color: #504B38;
  color: white;
  /* margin-top: 20px; */
  padding: 10px 20px;
  border-radius: 6px;
}
.signinform h1{
  font-size: 1.25rem;
}
.signinform p{
  font-size: 1.25rem;
}
.container hr{
  margin: 20px 0;
  border: none;
  height: 2px;
  width: 90%;
  background: black;
  align-self: center;
}
.register-direct{
  align-self: center;
  font-size: 1.25rem;
  padding: 0;
  margin: 0;
  margin-bottom: 10px;
}
.register-direct a{
  color: #504B38;
}
.error_message{
  color: red;
  font-size: 1rem;
}
.valid {
  display: none;
}
.invalid {
  color: red;
}
#passwordRules{
  display: none;
}
#emailRules{
  display: none;
}

button {
  cursor: pointer;
}
.required::after {
  content: " *";
  color: red;
}

/* footer{
  background-color: #000000;
  color: #EBE5C2;
  text-align: center;
} */
#Gender{
  padding: 10px 10px;
  margin-bottom: 20px;
  font-size: 1rem;
}


