.header{
  background-color: #EBE5C2; 
  color: #504B38;
  text-align: left;
  display: flex;
  align-items:center;
  justify-content: space-between;
  position: fixed;
  top: 0; 
  left: 0;
  width: 100%;
  height: 4.5rem;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  max-width: 100vw;
  box-sizing: border-box;
  z-index: 2;
}
.header h1 a{
  text-decoration: none;
  color: #504B38;
}
nav ul{
display: flex;
flex-direction: row;
align-items: center;
list-style: none;
}

nav ul li {
  /* display: flex;
  flex-direction: row; */
  align-self: center;
  margin: 0 15px;
  font-size: 1.25rem;
  padding-right: 10px;
  font-weight: 300;
}
nav ul li a {
  color: #504B38;
  text-decoration: none;
}
div>h1{
  padding-left: 30px;
}
.search-bar {
  padding: 8px 12px;
  border: 1px solid #504B38;
  border-radius: 20px;
  font-size: 1rem;
  outline: none;
  font-family: 'Times New Roman', Times, serif;
}
.signbutton{
  border-radius: 10px;
  border: 1px solid #EBE5C2;
  background-color: #504B38;
  color: #EBE5C2;
  padding: 10px 10px;
  border: none;
  font-size: 1rem;
  margin: 0px 5px;
  /* font-family: 'Times New Roman', Times, serif; */
  font-size: 1rem;
}
#ring{
  background: none;
  border: none;
  font-size: 1.2rem;
}
.dropbtn {
  background-color: #EBE5C2;
  color: #504B38;
  padding: 10px;
  font-size: 1.25rem;
  border: none;
  font-family: 'Times New Roman', Times, serif;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
  position: relative;
  display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #ddd;}
.dropdown-content a:hover {cursor: pointer;}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {display: block;}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {background-color: #f1f1f1;}


/* Dropdown Button */
.search-bar {
  /* background-color: #B9B28A; */
  color: #504B38;
  padding: 8px;
  font-size: 1.25rem;
  width: 15rem;
  /* font-family: 'Times New Roman', Times, serif; */
}
/* input[name="search"]:focus {
  outline: none;
  box-shadow: none;
  border: none;
} */

/* The container <div> - needed to position the dropdown content */
.search-drop {
  position: relative;
  display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
#searchresult {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  /* min-width: 160px; */
  width: 15rem;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

/* Links inside the dropdown */
#searchresult a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

/* Change color of dropdown links on hover */
#searchresult a:hover {background-color: #ddd;}
#searchresult a:hover {cursor: pointer;}

/* Show the dropdown menu on hover
.search-drop:hover .dropdown-content {display: block;}
.search-drop:hover .dropbtn {background-color: #f1f1f1;} */
footer{
  background-color: #000000;
  color: #EBE5C2;
  /* text-align: center; */
  width: 100%;
  padding: 10px 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;

}
footer iframe{
  /* align-self: flex-start; */
  width: 30%;
  /* margin-left: 5rem; */
}

.dropdown-profile {
position: relative;
display: inline-block;
}

.dropdown-toggle-profile {
background-color: #EBE5C2;
border: none;
font-size: 24px;
cursor: pointer;
/* display: none ; */
}
.dropdown-toggle-profile img{
border-radius: 50%;
width: 35px;
height: 35px;
align-self: center;
object-fit: cover;


/* display: block;
  margin: 0 auto 20px auto;
  width: 120px;
  height: 120px;
  border-radius: 50%;
  object-fit: cover;
  border: 3px solid #ccc; */
}

.dropdown-menu-profile {
display: none;
position: absolute;
left: -80%;
background-color: white;
box-shadow: 0 4px 8px rgba(0,0,0,0.1);
min-width: 160px;
z-index: 1;
}

.dropdown-menu-profile a {
padding: 12px 16px;
display: block;
text-decoration: none;
color: black;
} 

.dropdown-menu-profile a:hover {
background-color: #f1f1f1;
}

.show {display:block;}

