
.container{
    display: flex;
    flex-direction: row;
    padding-top: 4.5rem;
    background-color: #FAF1E6;
    /* height: 500vh; */
}

.bookpresent-left{
    display: flex;
    flex-direction: column;
    padding-left: 20px;
    width: 35%;
    align-items: center;
    background-color: #EBE5C2;
    justify-content: space-around;
    align-items: center;
    border-radius: 6px;
    margin: 10px;
    box-sizing: border-box;
    height: 80vh;
    position: sticky;
    top:4.5rem;
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.1);
    overflow: hidden;
}
.buttonunder{
    display:flex;
    flex-direction: column;
    justify-content: space-between;
    /* font-size: 1rem; */
}
.bookpresent-right{
    display: flex;
    flex-direction: column;
    width: 10rem;
    height:auto;
    width: 65%;
    padding-left: 20px;
    /* overflow-y: auto;
    max-height: 90vh; */
    
}

.bigimage{
    width: 12rem;
    height: auto;
}

.bookpresent-left button{
    padding: 10px 0px;
    width: 18rem;
    margin: 10px;
    border-radius: 6px;
    background-color: #504B38;
    color:#EBE5C2;
    font-size: 1rem;
}
hr {
    border: none;
    height: 2px;
    background-color: #504B38;
    margin: 20px 0;
}
.bookpresent-right>div>p{
    padding-left: 25px;

}
.bookpresent-right>h1{
    padding: 0px;
    margin: 0px;
}
.bookpresent-right h3{
    padding-left: 20px;
    margin: 0px;
}
.author{
    font-size: 1.25rem;
    font-style: italic;
}
.rating {
    display: flex;
    align-items: center;
    font-size: 1.5rem;
    color: #F4C150; /* golden star */
    gap: 0.2rem;
    padding-left: 20px;
  }
  
  .rating .score {
    font-weight: bold;
    margin-left: 0.5rem;
    color: #333;
  }
  